* {
    box-sizing: border-box;
    margin: 0;
}
.desc{
    background-color: rgb(245, 196, 131);
    color: black;
    height: 1000px;
margin-bottom: 100px;
font-size: larger;
font-weight: bold;


}
.movieDesc{
    margin-top: 50px;

    margin-bottom: 100px;
}
.home{
    background-color: blueviolet;
    height: 50px;
    width: 70px;
}